Source: galette-plugin-paypal
Section: web
Priority: optional
Maintainer: Raphaël Hertzog <hertzog@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://galette.tuxfamily.org
Vcs-Git: git://git.debian.org/collab-maint/galette-plugin-paypal.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/galette-plugin-paypal.git;a=summary

Package: galette-plugin-paypal
Architecture: all
Depends: galette, ${misc:Depends}
Description: Paypal module for Galette
 Galette is a web application for French-speaking associations that
 want to manage their list of members online.
 .
 This plugin makes it possible for members to renew their membership by
 paying with Paypal. Online donations for the association are also possible
 with this plugin.
