Source: galette-plugin-paypal
Section: web
Priority: optional
Maintainer: François-Régis Vuillemin <frv-debian@miradou.com>
Uploaders: Raphaël Hertzog <hertzog@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://galette.eu
Vcs-Git: git://anonscm.debian.org/collab-maint/galette-plugin-paypal.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/galette-plugin-paypal.git;a=summary

Package: galette-plugin-paypal
Architecture: all
Depends: galette, ${misc:Depends}
Description: Paypal module for Galette
 Galette is a web application for French-speaking associations that
 want to manage their list of members online.
 .
 This plugin makes it possible for members to renew their membership by
 paying with Paypal. Online donations for the association are also possible
 with this plugin.
